[Desktop Entry]
Version=1.0
Type=Application
Name=Lanchat
Exec=Lanchat
Icon=io.github.tofudd.lanchat
Terminal=true
Categories=Chat;Network;InstantMessaging;